.time {
    background-color: rgb(50, 20, 83);
    color: white;
    width: 20%;
    height: 15vh;
    margin: 10% 35% 10% 40%;
    padding: 2% 0% 0% 0%;
    border-radius: 10px;
    font-size: 1em;
    font-family: "Monaco", monospace;
}

h1 {
    margin: 0%;
}